@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  background-color: #0f0f1b;
  font-family: "Poppins", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-text {
  text-align: center;
  color: white;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 14px;
  margin: 7px;
}

.card {
  width: 185px;
  height: 185px;
  flex-shrink: 0;
  border: none;
  border-radius: 10px;
  background-color: #171727;
  color: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.card p {
  margin: 20px;
  width: 145px;
  font-size: 16px;
}

.card:hover {
  background-color: #242486;
  transition: 1s;
  transition-duration: 1;
}

.body-element {
  margin: 100px;
  display: flex;
  align-items: center;
}

.header {
  font-size: 20px;
}
